PG_PASSWORD= "password di postgressql"
PG_USERNAME= "username di postgressql"
PG_DB_NAME= "nome server"
SERVER_PORT= "inserisci qui la tua port server"

CLOUDINARY_NAME= "cloudinary name"
CLOUDINARY_API_KEY="cloudinary api key"
CLOUDINARY_SECRET= "cloudinary secret code"

JWT_SECRET= " inserisci qui secret code per il jwt "